/* Default image behavior */
.page__content img {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* More compact default for diagrams */
img.diagram {
  max-width: 700px;
}
